<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Budget Overlord</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="/transactions">Transaction list</li>
            <li><a href="/merchants">Merchant list</li>
            <li><a href="/tags">Tag list</li>
        </ul>
    </nav>
    </body>
    <%=yield%>
</html>
