body{
background: black url('/images/background.jpg');
color: orange;
text-align: center;
}

nav {
background-color: black;
text-align: center;
font-family: Georgia;
color: black;
border-radius: 100px;
padding: 0.1px;
}

h1 {
font-family: 'Bungee Outline', serif;
color:darkorange;
}

.date_cell{
    width:260px;
}

h2{
font-family: Georgia;
color: darkorange;
font-weight: bold;

}

ul{
    list-style: none;
}

a{
color: darkorange;
background-color:black;
}

table{
    margin: 10px auto;
}

td, th{
    margin: 10px auto;
    border: 1px solid darkorange;
    text-align:center;
    padding: 10px;
    background-color: black;
}


.newtransac{
    margin:10px auto;
    width: 35%;
}

p{
    border: 1px solid darkorange;
    text-align:center;
    padding: 10px;
    background:black;
    margin: 10px auto;
    width: 40%;
    border: 5px solid darkorange;

}

td{
    background-color:#6B0504;
}
