<h1>New Transactions Details</h1>

<form action="/transactions" method="post">
    <label for="Item">Purchased Item</label>
    <input type="text" name="item" id="Item">

    <label for="Cost">Cost</label>
    <input type="number" name="cost" id="Cost">

    <label for="Merchant">Merchant</label>
    <select name="merchant" id="Merchant">
        <% for merchant in @merchants %>
        <option value="<%=merchant.id%>"><%=merchant.name%></option>
        <% end %>
    </select>

    <label for="Tag">Tag</label>
    <select name="tag" id="Tag">
        <% for tag in @tags %>
        <option value="<%=tag.id%>"><%=tag.name%></option>
        <% end %>
    </select>

    <label for="Date">Date</label>
    <input type="text" name="date" id="Date">

    <input type="submit" value="Save transaction" id="save-trans_butt">
</form>
